/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 25 nov. 2023, 02:08:13
    Author     : MSI
*/
.root{
    -fx-background-image: url('../cards/BJ.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
.text-area {
    -fx-control-inner-background: Black; /* Replace with your desired background color */
    
    
}


